/* .container {
    padding: 0;
    max-width: 1250px !important;
}


@media (min-width: 1200px){
.container {
    width: 1250px !important;
}} */
.search-empty {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

footer {
  margin-top: 30px;
  background: #0085ca;
  color: #ffffff;
  font-weight: 300;
}
.footer__top {
  padding-bottom: 50px;
  padding-top: 50px;
}

.main-body{
	padding-top:360px;
}
.p-0{
	padding: 0 !important;
}

.widget ul li a {
    width:100%;
}

.vertical-center{
	display: flex;
	align-items: center;
}

.facet-count, .facet-count > span{
	float: right;
}

.featured-restaurant-info > h4 {
    margin: 10px 0 0;
    font-weight: 500 !important;
    font-size: 18px !important;
}

.featured-restaurant-info > h4 > span{
    font-weight:bold !important;
}

.featured-restaurant-thumb {
    padding: 0 !important;
    width: 200px !important;
}

.headline{
	font-weight: 700!important;
}

.featured-restaurant-info > h3 {
    display: inline-block;
    float: left;
    font-weight: 700;
    margin: 10px 0 0px;
    width: 100%;
}

.stretched-link::after{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    pointer-events:auto;
    content:"";
    background-color:rgba(0,0,0,0)
}

.horizontal-center{
	display: flex;
	justify-content: center;
}


.horizontal-right{
	display: flex;
	justify-content: right;
}

.pagination-wrapper{
	margin-top: 0px;
}

.pagination > li.disabled a, .pagination>li.disabled>a:focus, .pagination>li.disabled>a:hover
{
    width: auto;
    padding: 0 20px;
    background-color: #c9c7c7;
}

.pagination > li.disabled{
    margin-right: 20px;
    margin-left: 20px;
}

hr{
	margin-top: 2px;
}
/* Custom Style */

header {
  background: #fff;
}

.js-mainHeader {
  max-width: 1240px;
  margin: 0 auto;
}

ul.socialIcons li {
  display: inline-block;
}

ul.socialIcons li a:before {
  font-size: 24px;
  vertical-align: middle;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
}

.navigation ul.socialIcons li a.twitter:before {
  content: '\f099';
}

.navigation ul.socialIcons li a.facebook:before {
  content: '\f09a';
}

.navigation ul.socialIcons li a.flickr:before {
  content: '\f16e';
}

.navigation ul.socialIcons li a.linkedin:before {
  content: '\f0e1';
}

.navigation ul.socialIcons li a.fa-instagram:before {
  content: '\f16d';
}

.mainCallToAction {
  margin: 40px 0 15px;
  float: right;
  display: block;
  font: 16px "Source Sans Pro", sans-serif;
}

.mainCallToAction .button a {
  color: #fff;
  font: 16px "Source Sans Pro", sans-serif;
}

.mainCallToAction .button a:hover {
  color: #fff;
  text-decoration: underline;
}

.mainCallToAction .media_btn {
  margin-left: 0;
  background: #000;
  border: 2px solid #000;
  color: #fff;
  background: #d81274;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  padding: 5px 20px;
  display: inline-block;
  transition: all .5s ease-in-out;
}

.menuMain {
  margin-top: 0;
  position: inherit;
  top: auto;
  float: right;
  width: 100%;
  cursor: pointer;
}

.menuMain ul {
  padding: 0;
  list-style: none;
}

.menuMain ul li {
  padding: 0;
}

.menuMain ul li>a {
  color: #000;
  height: auto;
  padding: 10px 14px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
}

ul.topLevel {
  width: 100%;
  max-width: 1170px;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
}

.topLevel > li {
  display: inline-block;
  position: relative;
}

.mainLogo {
  margin: 35px 0;
  width: 200px;
  height: 46px;
  transition: all .3s ease-in-out;
  background-size: contain;
  display: block;
  background: url(../Images/beta-logo.png) no-repeat 0 0;
  overflow: hidden;
  -webkit-print-color-adjust: exact;
  float: left;
}

.footer__nav--container h3 {
  font-family: "Source Sans Pro", sans-serif !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__top .footer__nav--container .footer-menu ul li {
  display: grid;
}

.footer__top .footer__nav--container ul { 
  padding: 0;
}

.footer__top .footer__nav--container ul li { 
  list-style: none; 
}

.footer__top .footer__nav--container ul li a { 
  color: #fff; 
  font: 16px "Source Sans Pro", sans-serif;
  padding: 16px 0;
}

.footer__nav--container .footer-menu a:before {
  content: "";
  width: 85%;
  position: absolute;
  height: 1px;
  border-top: 1px solid #fff;
  opacity: .5;
  margin-top: -15px
}

/*** START - SUB-FOOTER-TOP ***/

.sub__footer__top p {
  color: #fff;
  margin: 0 0 .5em 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

.sub__footer__top {
  padding: 10px 20px 35px;
  margin: 0 auto;
  text-align: center;
  float: left;
  width: 100%;
}

.sub__footer__top img.mediaImage {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}

/*** [START] Header - Social Icon ***/
ul.socialIcons {
  float: left;
  list-style: none;
  margin-right: 20px;
  display: inline-block;
}

ul.socialIcons li {
  display: inline-block;
}

ul.socialIcons li a {
  width: 40px;
  height: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  display: block;
  overflow: hidden;
}

ul.socialIcons li a:before {
  font-size: 24px;
  vertical-align: middle;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
}

ul.socialIcons li a.twitter:before {
  content: '\f099';
}

ul.socialIcons li a.facebook:before {
  content: '\f09a';
}

ul.socialIcons li a.flickr:before {
  content: '\f16e';
}

ul.socialIcons li a.linkedin:before {
  content: '\f0e1';
}

ul.socialIcons li a.fa-instagram:before {
  content: '\f16d';
}
/*** [END] Header - Social Icon ***/

/*** [START] Footer - Social Icon ***/
ul.socialList {
  margin-bottom: 15px;
  float: none;
  list-style: none;
}

ul.socialList li {
  display: inline-block;
}

ul.socialList li a {
  width: 40px;
  height: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  display: block;
  overflow: hidden;
}

ul.socialList li a:before {
  font-size: 24px;
  vertical-align: middle;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
}

ul.socialList li a.twitter:before {
  content: '\f099';
}

ul.socialList li a.facebook:before {
  content: '\f09a';
}

ul.socialList li a.flickr:before {
  content: '\f16e';
}

ul.socialList li a.linkedin:before {
  content: '\f0e1';
}

ul.socialList li a.fa-instagram:before {
  content: '\f16d';
}

.sub__footer__top .footerLegal {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
/*** [END] Footer - Social Icon ***/

/*** END - SUB-FOOTER-TOP ***/
.footer__copyright {
  width: 100%;
  background: #e8e8e7;
  padding: 30px 0 100px;
  color: #ffffff;
  text-align: center;
}

.footer__copyright h3 {
  font-size: 37px;
  text-align: center;
  color: #000;
  margin-bottom: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: inherit;
}

.footer__bottom .partners {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

.partners .mediaImage {
  width: 150px;
  margin: 0 30px;
}

@media screen and (max-width: 768px) {
  .partners img.mediaImage {
    width: 150px;
    margin: 55px auto;
    display: block;
  }	
}

.homeIntroWrapper {
  background: #0085ca;
  width: 100%;
  max-width: 100%;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.homeIntro {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: inherit;
  margin-bottom: 0;
  color: #fff;
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px 0 40px;
  height: auto;
  text-align: center;
}

.homeIntro .button {
  border: 2px #fff solid;
  margin-top: 10px;
  transition: all .5s ease-in-out;
  background: #0085ca;
  width: 110px;
  border-radius: 50%;
  height: 110px;
  line-height: 100px;
  padding: 5px;
  color: #fff;
  border: 2px solid #0085ca;
  box-shadow: 0 0 0 2px #fff;
  text-align: center;
}

.homeIntro .button:hover {
  background: #fff;
  border: 2px solid #0085ca;
  box-shadow: 0 0 0 2px #fff;
}

.homeIntro .button a {
  color: #fff;
  transition: all .5s ease-in-out;
}

.homeIntro .button:hover a {
  color: #0085ca;
}

.homeIntro a:hover {
  text-decoration: underline;
}

.homeIntroWrapper .homeIntro a {
  font: 16px "Source Sans Pro", sans-serif;
  font-weight: bold;
}

.homeIntroWrapper .homeIntro h2 {
  font: 48px "Source Sans Pro", sans-serif; 
}

.homeIntroWrapper .homeIntro p {
  font: 16px "Source Sans Pro", sans-serif;
  color: #fff;
}

ul.js-offcanvas-links {
  display: inline-flex;
  flex-direction: row;
}

ul.js-offcanvas-links li.nav__links--primary:nth-child(1) {
  order: 1;
}

ul.js-offcanvas-links li.nav__links--primary:nth-child(2) {
  order: 2;
}

ul.js-offcanvas-links li.nav__links--primary:nth-child(3) {
  order: 3;
}

ul.js-offcanvas-links li.nav__links--primary:nth-child(4) {
  order: 6;
}

ul.js-offcanvas-links li.nav__links--primary:nth-child(5) {
  order: 5;
}

ul.js-offcanvas-links li.nav__links--primary:nth-child(6) {
  order: 4;
}

.navigation--bottom .nav__links--products li a:hover {
  border-bottom: 2px solid #0085ca;
  color: #615f5f;
}

.sub-navigation-section ul.sub-navigation-list li a {
  font-size: 11px;
  font-weight: normal;
}

/*.navigation--bottom .nav__links--products li a {
  border-right: 1px solid #9b8e8e;
}

.navigation--bottom .nav__links--products li:nth-child(4) a {
  border-right: none;
*/

nav {
    float: left;
    width: 100%;
    max-width: 100% !important;
}

.menuMain > div > ul > li:before {
    content: "";
    width: 0;
    height: 0;
    background-color: #d8d7d7;
    position: absolute;
    right: 0;
    top: 0;
}

.menuMain > div > ul > li {
    color: #333;
    float: left;
    font-family: poppins;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0;
}

.menuMain > div > ul > li > a{
    padding-left: 4px;
}


.fixed-bg, .fit-bg {
    background-position: center bottom;

}

header.sticky .menuMain > div > ul > li {
  padding: 18px 0 18px 0;
  font-size: 17px;
}

.breadcrumb-section {
  width: 100%;
  margin: 0 auto;
}

.menu-sec .menu-item-has-children > a:hover, .menu-sec li:hover  {
  color: #0085ca;
}

.menu-sec .menu-item-has-children span { text-transform: capitalize }

.banner-image {
  width: 100%;
}

.banner-image > img {
  background-attachment: fixed !important;
  width: 100%;
  margin: 0;
  position: relative;
  left: 0;
  top: 0;
  z-index: -2;
  background-position: center center;
  background-repeat: repeat;
}

.homeFeaturesWrapper {
  background: #fff;
  margin: 0 0 10px;
}

.homeFeatures {
  text-align: center;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;	
}

.homeboxeswrap {
  max-width: 1170px;
  width: 100%;
  margin: 80px auto 30px;
  float: none;
  display: block;
}

.homeboxeswrap .homeBox-title > h2 {
  color: #222;
  display: inline-block;
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  width: 100%;
}

.homeFeature .banner {
  width: 100%;
  margin-bottom: 0;
  transition: all .5s ease-in-out;
}

.homeBox1, .homeBox2, .homeBox3 {
  width: calc(33.33% - 10px);
  margin: 0 5px;
  padding: 0 10px;
}

.homeFeatureDetailsWrapper {
  background: #f9f9f9 none repeat scroll 0 0;
  padding: 30px 33px;
  text-align: left;
}

.homeFeatureDetailsWrapper h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 0;
}

.homeFeatureDetailsWrapper h4 a {
  color: #000;
}

.homeFeatureDetailsWrapper h4 a:hover {
  color: #D91375;
}

.homeFeatureDetailsWrapper p {
  margin-bottom: 34px;
  color: #636363;
  line-height: 24px;
  font-family: lato;
  display: inline-block;
  width: 100%;
}

.main__inner-wrapper .site-search .input-group > input {
  font-size: 14px;
  color: #868686;
  padding: 10px 30px;
  height: 57px;
  border-radius: 30px;
}

.remove-bottom, .block.remove-bottom {
  padding-bottom: 0;
}

.container {
  padding: 0;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px)
  .container {
    width: 970px;
  }
}

@media (min-width: 768px)
  .container {
    width: 750px;
  }
}

.welcome-secinfo {
  float: left;
  text-align: center;
  width: 100%;
}

.banner__component.simple-banner {
  display: inline-block;
  position: relative;
  width: 100%;
}

.banner__component.simple-banner img { 
  width: 70%;
  float: right;
}

.welcome-secinfo .content > span {
  color: #fff;
  display: inline-block;
  font-family: poppins;
  font-size: 11px;
  margin-bottom: 30px;
  padding: 5px 30px;
  text-transform: uppercase;
  transform: skewX(-10deg);
  letter-spacing: 3px;
  font-style: normal;
  background-color: #D91375;
}

.welcome-secinfo .content > h2 {
  color: #222;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 14px;
  width: 100%;
  margin-top: 0;
}

.welcome-secinfo .content > p {
  color: #535353;
  display: inline-block;
  margin-bottom: 35px;
  width: 100%;
}

.welcome-secinfo .content > p a {
  color: #535353;
  display: inline-block;
  margin-bottom: 35px;
  width: 100%;
  font-weight: 900;
}

.welcome-secinfo .content > p a:hover {
  color: #0085ca;
  text-decoration: underline; 
}

.restaurant-searching.style2 {
  margin-top: 0;
  padding: 70px 100px 85px;
}

.restaurant-searching.style2 .restaurant-searching-inner {
  max-width: 800px;
}

.restaurant-search-form2 {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 15px;
}

.restaurant-search-form2 > input {
  font-size: 12.8px;
  color: #868686;
  padding: 10px 30px;
  height: 57px;
  width: 84%;
  float: left;
}

.restaurant-search-form2 > button {
  color: #fff;
  font-weight: 700;
  font-size: 13.5px;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  max-width: 172px;
  width: 100%;
  top: 0px;
  bottom: 0px;
}

.banner-img-parallax {
  background-image: url("https://www.socialenterprise.org.uk/wp-content/uploads/2019/08/Website-header-image.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}