/* :root { */
/*   --input-padding-x: 0.75rem; */
/*   --input-padding-y: 0.75rem; */
/* } */

/* .form-control{ */
/* 	display: block!important; */
/* } */

/* .form-label-group { */
/*   position: relative; */
/*   margin-bottom: 1rem; */
/* } */

/* .form-label-group > input, */
/* select, */
/* .form-label-group > label { */
/*   padding: var(--input-padding-y) var(--input-padding-x); */
/* } */

/* .form-label-group > label { */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   display: block; */
/*   width: 100%; */
/*   margin-bottom: 0; Override default `<label>` margin */
/*   line-height: 1.5; */
/*   color: #495057; */
/*   border: 1px solid transparent; */
/*   border-radius: 0.25rem; */
/*   transition: all 0.1s ease-in-out; */
/* } */

/* .form-label-group input::-webkit-input-placeholder { */
/*   color: transparent; */
/* } */

/* .form-label-group input:-ms-input-placeholder { */
/*   color: transparent; */
/* } */

/* .form-label-group input::-ms-input-placeholder { */
/*   color: transparent; */
/* } */

/* .form-label-group input::-moz-placeholder { */
/*   color: transparent; */
/* } */

/* .form-label-group input::placeholder { */
/*   color: transparent; */
/* } */

/* .form-label-group input:not(:placeholder-shown) { */
/*   padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3)); */
/*   padding-bottom: calc(var(--input-padding-y) / 3); */
/* } */

/* .form-label-group input:not(:placeholder-shown) ~ label { */
/*   padding-top: calc(var(--input-padding-y) / 3); */
/*   padding-bottom: calc(var(--input-padding-y) / 3); */
/*   font-size: 12px; */
/*   color: #777; */
/* } */

/* .form-label-group select::-webkit-input-placeholder { */
/*   color: transparent; */
/* } */

/* .form-label-group select:-ms-input-placeholder { */
/*   color: transparent; */
/* } */

/* .form-label-group select::-ms-input-placeholder { */
/*   color: transparent; */
/* } */

/* .form-label-group select::-moz-placeholder { */
/*   color: transparent; */
/* } */

/* .form-label-group select::placeholder { */
/*   color: transparent; */
/* } */

/* .form-label-group select:not(:placeholder-shown) { */
/*   padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3)); */
/*   padding-bottom: calc(var(--input-padding-y) / 3); */
/* } */

/* .form-label-group select:not(:placeholder-shown) ~ label { */
/*   padding-top: calc(var(--input-padding-y) / 3); */
/*   padding-bottom: calc(var(--input-padding-y) / 3); */
/*   font-size: 12px; */
/*   color: #777; */
/* } */

/* .form-label-group select{ */
/*   height: auto !important; */
/* } */

.floating-form {
  width:320px;
}

/****  floating-Lable style start ****/
.floating-label { 
  position:relative; 
  margin-bottom:20px; 
}
.floating-input , .floating-select {
  font-size:14px;
  padding:4px 4px;
  display:block;
  width:100%;
  height:30px;
  background-color: transparent;
  border:none;
  border-bottom:1px solid #757575;
}

.floating-input:focus , .floating-select:focus {
     outline:none;
     border-bottom:2px solid #5264AE; 
}

label {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
  top:-18px;
  font-size:14px;
}

.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
  top:-18px;
  font-size:14px;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width:50%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-textarea {
   min-height: 30px;
   max-height: 260px; 
   overflow:hidden;
  overflow-x: hidden; 
}

/* highlighter */
.highlight {
  position:absolute;
  height:50%; 
  width:100%; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/****  floating-Lable style end ****/

