<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags" %>


<cms:pageSlot position="NavigationBar" var="component">
<h1>test - ${component}</h1>
<%-- 	<cms:component component="${component}" responsive="true"/> --%>
</cms:pageSlot>
